<%- include('layout.ejs'); %>
<%- include('nav.ejs'); %>

    <h1 class="text-center">CRUD APPLICATION</h1>    
    <div class="container text-white">
        <h2 class="">All Tasks</h2>
        <table class="table caption-top text-white">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            
                <% if (results.length > 0) {%>
                    <% results.forEach(result => { %>
                    <tr>
                        <td>
                            <%= result.title %>
                        </td>  
                        <td>
                            <%= result.description %>
                        </td>
                        <td>
                            <a href="/<%= result.id %>" class="btn btn-primary">View</a>
                            <a href="/delete/<%= result.id %>" class="btn btn-danger">Delete</a>
                        </td>                       
                    </tr>
                    <% });  %>
                    <% } else { %>
                        <div>
                            No tasks available
                        </div>
                        <% } %>
         </tbody>
        </table>

        </div>
    </div>
</body>
</html>