<%- include('layout.ejs'); %>
<%- include('nav.ejs'); %>

<body>
    <div class="container text-center">
        <div class="container">
            <h1>Task Details</h1>
        </div>
        <form
        action="/update"
        method="post"
        >
            <div class="mb-3">
                <input type="hidden" name="id" value=<%= results.id %>>
                <input type="hidden" name="title" value=<%= results.title %>>
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <p>
                <%= results.title %>
              </p>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <textarea name="description" id="" cols="" rows="" placeholder=<%= results.description %>></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <form action="/delete" method="post">
            <p> 
              <%= results.id %>
            </p>
            <input type="hidden" name="id" value=<%= results.id %> >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>


    </div>
</body>
</html>